body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center; /* centers text + inline elements */
}

/* Wrapper for all content */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 10vh;
}

/* Title */
#h {
    font-size: 5vh;
    margin-bottom: 40px;
}

/* Centered links */
a {
    display: block;
    font-size: 3vh;
    margin: 15px 0;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Centered bee image */
#bee {
    display: block;
    margin: 40px auto 0;
    width: 280px;
}
